body{
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.container{
  height: 560px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.733);
}
.container h2{
  position: relative;
  top: 10px;
}
.input-sec-1{
  height: 200px;
  font-weight: 600;
  padding-left: 20px;
}
.input-sec-1 label input[type='text']
{
  border: 1px solid rgb(199, 199, 199);
  height: 30px;
  width: 255px;
  outline: none;
  border-radius: 3px;
  margin-bottom: 5px;
}
.input-sec-1 label select{
  width: 250px;
  outline: none;
  height: 30px;
  margin-bottom: 10px;
}

.about-urself-div{
  font-weight: 600;
  padding-left: 20px;
  position: relative;
  bottom: 0px;
}
#text-area{
  height: 50px;
  width: 240px;
  padding-left: 5px;
  padding-top: 5px;
  outline: none;
  border: 1px solid rgb(116, 114, 114);
  max-width: 255px;
  resize: none;
}
.btns{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  overflow: auto;
  position: relative;
  top: 230px;
  margin-top: 20px;
}
.btns button{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: green;
  color: white;
  font-size: 0.8rem;
  font-weight: 550;
}
button:hover{
  background-color: rgb(49, 134, 49);
  font-size: 0.85rem;
}
button:active{
  background-color: rgb(14, 43, 14);
}

.error-message{
  font-size: 0.7rem;
  color: red;
  margin-top: 2px;
}

